*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
}
.header{
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #1e293b;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: bold;

}
.logo span{
    color: #38bdf8;
}
.navbar{
    display: flex;
    gap: 30px;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.navbar a:hover{
    color: #38bdf8;
}
